{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block child %}
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#" style="color: #2c4d43";>New comment</a>
    </nav>
<div style="margin-left: 30px; margin-right: 50px;">

{{ include('comment/_form.html.twig') }}

    <button class="btn btn-light" onclick="window.location.href='{{ path('app_event_index') }}'">Back to list</button>
</div>
{% endblock %}
