@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: Poppins;
}

.navbar {
    padding: 5px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar > ul, .social {
    list-style: none;
    display: flex;
    align-items: center;
    gap : 10px ;
    padding-top: 15px;
}
.navbar > ul a {
    text-decoration: none;
    position: relative;
    color: green ;
}
.navbar > ul a::before {
    content: "";
    position: absolute;
    top : 95% ;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 0;
    background-color: goldenrod;
    transition: .6s ease ;
    border-radius: 10px ;
 }
 .navbar > ul a:hover::before {
    width: 90%;
}
.navbar > ul svg {
    cursor: pointer;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
   width: 70px;
   height: 70px;
}

.slogan {
    display: flex;
    flex-direction: column;
    gap : 5px ;
}
.slogan span:nth-child(2) {
    font-size: 12px;
    color : goldenrod ;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color:black ;
}

.welcome {
    background-color: rgba(0, 0, 0, 0.45);
    background-blend-mode: overlay;
    background-image: url("../front/images/home.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 660px;
    color:white ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap : 50px ;
    margin-bottom: 50px;
}
.welcome h1 {
    font-size: 80px;
}

.aboutus {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 50px;
    background-color: rgba(220, 220, 220, 0.581) ;
}
 .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    font-size: 15px;
    text-align: center;
}
.aboutus img{
    height: 100%;
    width: 100%;
}
.services {
    margin-bottom: 50px;
   
}
.services img {
    filter : brightness(0.6) ;
}
.services div  {
    height: 300px;
    width: 100%;
    position: relative;
    z-index: 0;
}
.services div img {
    height: 100%;
    width: 100%;
}

.services h1 {
    color : white ;
    position: absolute;
    top: 50% ;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}


.service {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap : 20px ;
    margin-bottom: 20px;
    
}
.service .text {
   background-color: rgba(220, 220, 220, 0.581);
}

.service img {
    width: 100%;
    height: 100%;
}

.getin {
    margin-top: 30px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 50px;
    background-color: rgba(220, 220, 220, 0.581) ;
    text-align: center;
}
.getin img {
    width: 100%;
    height: 100%;
}
.social {
    padding-right: 50px;
}

.accordion-container {
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
  
  .registration-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
  }

  .dan {
    color: red;
    margin: 50px;
  }